.ourstory-section {
   .container {
     position: relative;
     padding-top: 70px;
     padding-bottom: 70px;
     display: flex;
     justify-content: space-around;


     .ourstory-content {
       width: 550px;
       h1 {
         font-size: 22px;
         font-family: $playfairdisplaybold;
         color: $headers;
         padding-bottom: 30px;
       }
       p {
         color: $headers;
         font-size: 14px;
         font-family: $robotolight;
         padding-bottom: 30px;
         line-height: 1.5;
       }
       .btn-learn {
         @extend .btn;
         &:hover {
           box-shadow: 0 0 10px rgba(0,0,0,0.5);
         }
       }
     }
   }
 }

